<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    <img src="./img/41300.jpg">
    <p>created by{{name}}</p>
</body>
<script src="./js/index.js"></script>
</html>